<navbar></navbar>

<div class="container">
  <button class="btn btn-default pull-right" ng-click="vm.state.go('candidate.new')">New candidate</button>

  <table class="table">
    <thead>
      <tr>
        <th>
          First Name
          <a href ng-click="vm.sortParam('firstName')">
            <i class="fa" ng-class="vm.sort.field == 'firstName' ? (vm.sort.reverse ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc') : 'fa-sort'"></i>
          </a>
        </th>
        <th>
          Last Name
          <a href ng-click="vm.sortParam('lastName')">
            <i class="fa" ng-class="vm.sort.field == 'lastName' ? (vm.sort.reverse ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc') : 'fa-sort'"></i>
          </a>
        </th>
        <th>
          Last visit
          <a href ng-click="vm.sortParam('lastVisitDate')">
            <i class="fa" ng-class="vm.sort.field == 'lastVisitDate' ? (vm.sort.reverse ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc') : 'fa-sort'"></i>
          </a>
        </th>
        <th>Preferences</th>
        <th>Pending visits</th>
        <th></th>
      </tr>
      <tr>
        <th><input class="form-control" type="text" ng-model="vm.query.firstName"></th>
        <th><input class="form-control" type="text" ng-model="vm.query.lastName"></th>
        <th></th>
        <th>
          <div class="btn-group">
            <label class="btn btn-default" ng-model="vm.query.preferences" uib-btn-radio="'blacklist'">BL</label>
            <label class="btn btn-default" ng-model="vm.query.preferences" uib-btn-radio="undefined">-</label>
            <label class="btn btn-default" ng-model="vm.query.preferences" uib-btn-radio="'wishlist'">WL</label>
          </div>
        </th>
        <th>
          <div class="btn-group">
            <label class="btn btn-default" ng-model="vm.query.pending" uib-btn-radio="true">Y</label>
            <label class="btn btn-default" ng-model="vm.query.pending" uib-btn-radio="undefined">-</label>
            <label class="btn btn-default" ng-model="vm.query.pending" uib-btn-radio="false">N</label>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="!filteredCandidates.length">
        <td colspan="5">
          No candidates found
        </td>
      </tr>
      <tr ng-repeat="c in filteredCandidates = (vm.candidates | orderBy : vm.sort.field : vm.sort.reverse | filter: vm.query | limitTo: vm.limit)">
        <td>{{c.firstName}}</td>
        <td>{{c.lastName}}</td>
        <td>
          {{c.lastVisitDate | date: "dd.MM.yy"}}
          <span ng-if="c._lastVisitAgency" class="byagency">by {{vm.agencies[c._lastVisitAgency].name}}</span>
        </td>
        <td>
          <span ng-if="c.preferences == 'blacklist'">BL</span>
          <span ng-if="c.preferences == 'wishlist'">WL</span>
        </td>
        <td><i class="fa fa-check-circle fa-2x" ng-show="c.pending"></i></td>
        <td>
          <a href="#" ng-click="vm.state.go('candidate.details', { 'id': c._id})" class="edit"><span class="fa fa-pencil fa-2x"></span></a>
          <a href="#" ng-click="vm.removeCandidate(c)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default pull-right" ng-click="vm.loadMore(50)" ng-show="vm.limit < vm.candidates.length">Load 50 more</button>
</div>

<footer></footer>
