<navbar></navbar>

<div class="container">
  <h1>{{vm.position.name}}</h1>
  <h3>By Month</h3>
  <canvas id="line" class="chart chart-line" chart-data="vm.monthlyChart.data" chart-labels="vm.monthlyChart.labels"></canvas>

  <h3>By Agency</h3>
  <table class="table table-hover">
    <tr>
      <th>Agency</th>
      <th>CV Review Pass Ratio</th>
      <th>First Round Pass Ratio</th>
      <th>Second Round Pass Ratio</th>
      <th>Hire Ratio</th>
      <th>Total Candidates</th>
    </tr>
    <tr ng-repeat="stat in vm.statsByAgency" ng-class="{'danger': stat.proposal == 0}">
      <td>{{stat._id.agency ? vm.agencies[stat._id.agency].name : "No Agency"}}</td>
      <td>{{stat.skype/stat.total*100 | number:2}}%</td>
      <td>{{stat.office/stat.total*100 | number:2}}%</td>
      <td>{{stat.proposal/stat.total*100 | number:2}}%</td>
      <td>{{stat.hire/stat.total*100 | number:2}}%</td>
      <td>{{stat.total}} persons</td>
    </tr>
  </table>

  <h3>By Origin</h3>
  <table class="table table-hover">
    <tr>
      <th>Origin</th>
      <th>CV Review Pass Ratio</th>
      <th>First Round Pass Ratio</th>
      <th>Second Round Pass Ratio</th>
      <th>Hire Ratio</th>
      <th>Total Candidates</th>
    </tr>
    <tr ng-repeat="stat in vm.statsByOrigin" ng-class="{'danger': stat.proposal == 0}">
      <td>{{stat._id.origin ? vm.origins[stat._id.origin].name : "No Origin"}}</td>
      <td>{{stat.skype/stat.total*100 | number:2}}%</td>
      <td>{{stat.office/stat.total*100 | number:2}}%</td>
      <td>{{stat.proposal/stat.total*100 | number:2}}%</td>
      <td>{{stat.hire/stat.total*100 | number:2}}%</td>
      <td>{{stat.total}} persons</td>
    </tr>
  </table>

</div>

<footer></footer>
